@media(max-width: 1300px){
	.wrapper{
		max-width: 1000px;
	}
	.home_hero p{
		max-width: calc(100% - 60px);
	}
	.our_offer .custom_rows .custom_col h2{
		font-size: 19px;
		line-height: 27px;
	}
	.our_offer .custom_rows .custom_col img{
		margin-right: 18px;
	}
	.latest_updates .blog_posts .post img{
		max-width: 180px;
	}
	.latest_updates .blog_posts .post .cont h2{
		font-size: 24px;
		line-height: 31px;
	}
	.latest_updates .blog_posts .post img{
		height: 283px;
		object-position: center center;
	}
	.hosting_services .custom_rows .custom_col h2{
		font-size: 18px;
	}
	.hosting_services .custom_rows .custom_col p{
		font-size: 16px;
	}
	.hosting_steps_to_start h1{
		font-size: 30px;
		max-width: 240px;
	}
	.hosting_steps_to_start .steps{
	    width: calc(100% - 250px);
	}
	.hosting_steps_to_start .steps .step h2{
		font-size: 20px;
		line-height: 22px;
	}
	.hosting_steps_to_start .steps .step .icons{
		width: 78px;
		height: 78px;
	}
	.hosting_steps_to_start .steps .step{
		max-width: 230px;
	}
	.hosting_map, .hosting_steps_to_start{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.hosting_map{
		padding-top: 50px;
	}
	.hosting_map .our_facialities{
		display: block;
		img{
			margin: auto;
			display: block;
			margin-bottom: 20px;
		}
		.right_side{
			max-width: 100%;
			text-align: center;
		}
	}
	.hosting_map_slider .hosting_slider{
		width: 100%;
	}
	.hosting_faq{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.firmware_hero{
		min-height: unset;
		padding-bottom: 93px;
	}
	.firmware_hero .custom_row .custom_col:nth-child(2) {
		width: calc(40% - 5px);
		margin-right: -20px;
	}
	.firmware_hero .custom_row .custom_col:nth-child(1) {
		width: calc(60% - 5px);
	}
	.firmware_hero_sec2 .antminter_box .left{
		width: 250px;
	}
	.firmware_hero_sec2 .antminter_box .left h2{
		font-size: 23px;
		line-height: 32px;
	}
	.firmware_hero_sec2 .antminter_box .right ul li{
		font-size: 15px;
		line-height: 25px;
	}
	.firmware_hero_sec2 .antminter_box .right{
		padding: 20px;
	}
	.firmware_hero_sec3 .custom_row p{
		font-size: 14px;
	}
	.firmware_hero_sec3 .custom_row ul li{
		font-size: 14px;
	}
	.blog_post_page .blog_posts .post:first-child .post_inside{
		max-width: 970px;
	}
	.blog_post_page .blog_posts .post:first-child .post_inside img{
		width: 468px;
	}
	.blog_post_page .blog_posts .post:first-child .post_inside .cont{
		width: calc(100% - 468px);
	}
	.blog_post_page .blog_posts .post_inside .cont p{
		font-size: 15px;
	}
}

@media(max-width: 1000px){
	.wrapper{
		max-width: 737px;
	}
	.top_values .cont{
		padding-left: 0;
		padding-right: 0;
	}
	.top_values{
		background: #F3F7FA;
	}
	.top_values .cont h2{
		font-size: 12px;
	}
	.top_values .cont p{
		font-size: 12px;
	}
	.navbar .wrapper .formobile{
		box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.11) inset;
		-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.11) inset;
		-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.11) inset;
		position: fixed;
	    background: #fff;
	    top: 130px;
	    bottom: 0;
	    width: calc(50% - 368.5px + 225px);
	    left: -100vw;
	    text-align: right;
	    padding-top: 42px;
	    z-index: 101;
	    -webkit-transition: all .25s ease;
	       -moz-transition: all .25s ease;
	        -ms-transition: all .25s ease;
	         -o-transition: all .25s ease;
	            transition: all .25s ease;
	    ul{
	    	display: inline-block;
	    	width: 225px;
	    	text-align: left;
	    	right: unset;
	    	position: relative;
	    	padding-left: 15px;
	    	li{
	    		display: block;
	    		margin: 0;
	    		margin-bottom: 20px;
	    	}
	    }
	    .for_soc_icons{
	    	display: inline-block;
	    	width: 225px;
	    	padding-left: 15px;
	    }
	    .social_icons{
	    	display: flex;
	    	text-align: left;
	    	right: unset;
	    	position: relative;
	    	margin-top: 30px;
	    	a{
	    		display: block;
	    		margin-right: 7px;
	    	}
	    	a:last-child{
	    		margin-right: 0;
	    	}
	    }
	}
	.navbar_active .wrapper .formobile{
		left: 0;
	}
	.navbar .wrapper ul .contactus{
		margin-top: 25px !important;
	}
	.navbar .wrapper ul .contactus a{
		max-width: 140px;
	}
	.navbar{
		padding: 17px 0;
		.lines{
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			.line{
				background: #35353C;
				width: 46px;
				height: 6px;
				margin-top: 8px;
				margin-bottom: 8px;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			.line:nth-child(2){
				width: 39px;
			}
		}
	}
	.navbar .overlapcontent{
		position: fixed;
		left: 0;
		right: 0;
		top: 130px;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		z-index: 100;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	.navbar_active{
		.overlapcontent{
			visibility: visible;
			opacity: 1;
		}
		.lines{
			.line{
				background: #D9D9D9;
				border-radius: 5px;
			}
			.line:nth-child(1){
				transform: rotate(45deg);
			}
			.line:nth-child(2){
				width: 46px;
			    transform: rotate(-45deg);
			    margin-top: -14px;
			}
			.line:nth-child(3){
			    transform: rotate(-45deg);
			    margin-top: -14px;
			}
		}
	}
	body{
		padding-top: 132px;
	}
	.home_hero{
		padding-top: 100px;
		min-height: unset;
		padding-bottom: 100px;
	}
	.home_hero p{
		font-size: 18px;
		line-height: 30px;
		font-family: "MontRegular";
		margin-top: 20px;
		max-width: 100%;
	}
	.home_hero .wrapper .social_icons{
		display: none;
	}
	.why_teslawatt{
		padding-top: 76px;
		padding-bottom: 0;
	}
	.our_offer .custom_rows .custom_col h2{
		font-size: 24px;
		line-height: 31px;
	}
	.our_offer .custom_rows .custom_col{
		width: calc(50% - 15px);
		margin-bottom: 50px;
	}
	.our_offer{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.latest_updates .blog_posts .post img{
		height: 283px;
		max-width: 283px;
	}
	.latest_updates .blog_posts{
		padding-left: 0;
	}
	.latest_updates .blog_posts .post{
		margin-bottom: 34px;
	}
	.latest_updates .blog_posts .post:first-child{
		position: relative;
		max-width: 100%;
		margin-bottom: 45px;
	}
	.latest_updates .blog_posts .post .cont h2{
		font-size: 28px;
		line-height: 37px;
	}
	.where_we_are .locations{
		flex-wrap: wrap;
		justify-content: space-between;
		.location:nth-child(2){
			order: 1;
			width: 100%;
			max-width: 100%;
			margin-bottom: 20px;
		}
		.location:nth-child(1){
			order: 2;
			border-radius: 20px;
			max-width: calc(50% - 10px);
		}
		.location:nth-child(3){
			order: 3;
			border-radius: 20px;
			max-width: calc(50% - 10px);
		}
	}
	.contact_us form input{
		margin-bottom: 15px;
	}
	.contact_us form .tworows{
		display: block;
		div{
			width: 100%;
		}
	}
	.contact_us, footer{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	footer .custom_row{
		justify-content: space-between;
		.col{
			width: calc(33.33% - 10px);
		}
	}
	footer .custom_row .col .credit_cards {
	    display: block;
	    margin-top: -15px;
	    margin-bottom: 18px;
	}
	footer .custom_row .col:nth-child(2) ul li {
	    margin-bottom: 22px;
	}
	footer .custom_row .col:nth-child(2) ul li:last-child{
		margin-bottom: 0;
	}
	footer .custom_row .col h2{
		font-size: 20px;
	}

	.navbar.nav_for_scroll_v3 .overlapcontent{
		top: 79px;
	}
	.navbar.nav_for_scroll_v3 .formobile{
		top: 79px;
	}




	.hosting_hero .wrapper .social_icons, .contact_hero .wrapper .social_icons{
		display: none;
	}
	.hosting_hero, .contact_hero{
		padding-top: 150px;
		padding-bottom: 150px;
		min-height: unset;
	}
	.hosting_hero h1, .contact_hero h1{
		font-size: 50px;
		line-height: 64px;
	}
	.hosting_hero .btn_type1, .contact_hero .btn_type1{
		margin-top: 40px;
	}
	.hosting_services{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.hosting_services .custom_rows{
		display: block;
		.custom_col{
			max-width: 100%;
			padding-right: 0;
			margin-bottom: 35px;
		}
		.custom_col:last-child{
			margin-bottom: 0;
		}
	}
	.hosting_steps_to_start{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.hosting_steps_to_start .content{
		display: block;
	}
	.hosting_steps_to_start h1{
		font-size: 40px;
		line-height: 51px;
		margin: auto;
		max-width: 290px;
		text-align: center;
	}
	.hosting_steps_to_start .steps{
		margin-top: 50px;
		max-width: 100%;
		width: 100%;
	}
	.hosting_map_slider .slick-prev{
		left: calc(50% - 169px);
	}
	.hosting_map_slider .slick-next{
		right: calc(50% - 169px);
	}
	.hosting_map{
		padding-bottom: 50px;
	}
	.hosting_map_slider .hosting_slider{
		margin: 0;
		margin-top: 50px;
	}
	.hosting_faq .custom_row .right_side h3{
		font-size: 21px;
		line-height: 28px;
	}
	.hosting_faq .custom_row .right_side .question .plus_icon{
		top: 3px;
		transform: unset;
	}



	.firmware_hero .custom_row{
		display: block;
	}
	.firmware_hero .custom_row .custom_col:nth-child(1){
		width: 100%;
		margin: 0;
	}
	.firmware_hero .custom_row .custom_col:nth-child(2){
		width: 100%;
		margin: 0;
		img{
			display: block;
			margin: auto;
			max-width: 557px;
			margin-top: 20px;
		}
	}
	.firmware_hero h1{
		text-align: center;
	}
	.firmware_hero h2{
		text-align: center;
	}
	.firmware_hero p{
		text-align: center;
	}
	.firmware_hero{
		padding-bottom: 30px;
	}
	.firmware_hero_sec2 .custom_row{
		display: block;
		.left_side, .right_side{
			width: 100%;
		}
	}
	.firmware_hero_sec2 .antminter_box .right ul li{
		font-size: 18px;
		line-height: 30px;
	}
	.firmware_hero_sec3 .custom_row{
		display: block;
		.custom_col{
			width: 100%;
			max-width: 100%;
		}
	}
	.firmware_hero_sec3 .custom_row .custom_col:nth-child(1){
		max-width: 100%;
	}
	.firmware_hero_sec3 .custom_row .custom_col:nth-child(2){
		max-width: 100%;
		margin-top: 30px;
	}
	.firmware_hero_features, .firmware_hero_sec3{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.firmware_hero_features .custom_row .custom_col{
		max-width: calc(50% - 10px);
	}
	.firmware_hero_our_support{
		padding-top: 64px;
		padding-bottom: 64px;
	}
	.firmware_hero_our_support .our_support_img {
	    position: absolute;
	    left: calc(50% - 410px);
	    top: 93px;
	    max-width: 250px;
	}
	.blog_post_page{
	}
	.blog_post_page .blog_posts{
		padding-top: 0;
	}
	.blog_post_page .blog_posts .post:first-child{
		padding-top: 95px;
		padding-bottom: 67px;
		min-height: unset;
	}
	.blog_post_page .blog_posts .post:first-child .post_inside{
		display: block;
	}
	.blog_post_page .blog_posts .post:first-child .post_inside img{
		height: 436px;
		width: 100%;
	}
	.blog_post_page .blog_posts .post:first-child .post_inside .cont{
		width: 100%;
		position: relative;
		padding-bottom: 100px;
	}
	.blog_post_page .blog_posts .post_inside img{
		height: 225px;
	}
	.blog_post_page .blog_posts .post_inside{
		min-height: unset;
		height: 100%;
	}
	.blog_post_page .blog_posts .post_inside .cont .readmore{
		position: absolute;
		bottom: 21px;
		left: 23px;
	}
	.blog_post_page .blog_posts .post_inside{
		width: 100%;
		position: relative;
		padding-bottom: 50px;
	}
	.blog_post_page .blog_posts .post:first-child .post_inside{
		padding-bottom: 0;
	}
}


@media(max-width: 740px){
	.wrapper{
		max-width: 400px;
	}
	.top_values .cont{
		flex-wrap: wrap;
		padding-top: 10px;
		padding-bottom: 0;
		.item{
			width: calc(33.33% - 5px);
			margin-bottom: 10px;
		}
	}
	.navbar{
		top: 88px;
	}
	.nav_for_scroll{
		top: -100px;
	}
	.nav_for_scroll_v3{
		top: 0;
	}
	.top_values_for_scroll{
		display: none;
	}
	body{
		padding-top: 165px;
	}
	.home_hero{
		padding-top: 80px;
		padding-bottom: 80px;
		.btn_type1{
			text-align: center;
			a{
				width: 100%;
			}
		}
	}
	.why_teslawatt{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.regular_title{
		font-size: 30px;
		line-height: 38px;
		br{
			display: none;
		}
	}
	.why_teslawatt .custom_rows{
		display: block;
		.custom_col{
			width: 100%;
			margin-bottom: 40px;
		}
		.custom_col:last-child{
			margin-bottom: 0;
		}
	}
	.our_offer h1{
		font-size: 40px;
		line-height: 51px;
	}
	.our_offer .custom_rows .custom_col{
		width: calc(50% - 7px);
		display: block;
		margin-bottom: 20px;
		img{
			display: block;
			margin: auto;
			margin-bottom: 20px;
		}
		h2{
			text-align: center;
			font-size: 18px;
			line-height: 23px;
		}
	}
	.testimonial, .latest_updates{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.testimonial h1, .latest_updates h1{
		font-size: 30px;
		line-height: 38px;
	}
	.latest_updates .blog_posts{
		margin-top: 50px;
	}
	.latest_updates .blog_posts .post{
		display: block;
		img{
			width: 100%;
			max-width: 100%;
		}
	}
	.latest_updates .btn_type1{
		margin-top: 30px;
	}
	.testimonial .slider_area .slick-slide{
		padding-left: 44px;
		padding-right: 44px;
	}
	.testimonial .slider_area p{
		font-size: 16px;
		line-height: 23px;
		margin-top: 30px;
	}
	.testimonial .slider_area .testimonial_icon{
		max-width: 70px;
	}
	.testimonial .slider_area .slick-prev{
		left: 13px;
	}
	.testimonial .slider_area .slick-next{
		right: 13px;
	}
	.home_cta{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.home_cta h1{
		font-size: 30px;
		line-height: 40px;
		font-family: 'MontBold';
	}
	.home_cta .btn_type1{
		margin-top: 30px;
	}
	.where_we_are .locations .location:nth-child(1){
		max-width: 100%;
		margin-bottom: 20px;
	}
	.where_we_are .locations .location:nth-child(3){
		max-width: 100%;
	}
	.where_we_are .locations .location:nth-child(2) p{
		font-size: 21px;
		line-height: 140%;
	}
	.where_we_are .locations .location:nth-child(2) h2{
		font-size: 28px;
		line-height: 140%;
	}
	.where_we_are .locations{
		margin-top: 30px;
	}
	.our_offer h1, .where_we_are h1, .contact_us h1{
		font-size: 30px;
		line-height: 32px;
	}
	.contact_us form{
		margin-top: 30px;
	}
	footer .custom_row{
		display: block;
		.col{
			width: 100%;
			text-align: center;
			margin-bottom: 40px;
		}
		.col:last-child{
			margin-bottom: 0;
		}
	}
	footer .custom_row .col .credit_cards{
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
	}
	.after_footer{
		padding: 11px 0;
	}
	.navbar .wrapper .formobile{
		width: calc(50% - 200px + 225px);
	}
	.navbar .overlapcontent{
		top: 167px;
	}
	.navbar .wrapper .formobile{
		top: 167px;
	}
	.navbar.nav_for_scroll_v3 .overlapcontent{
		top: 79px;
	}
	.navbar.nav_for_scroll_v3 .formobile{
		top: 79px;
	}
	.our_offer .custom_rows{
		margin-top: 30px;
	}


	.hosting_steps_to_start .steps{
		display: block;
	}
	.hosting_hero, .contact_hero{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.hosting_hero h1, .contact_hero h1{
		font-size: 40px;
		line-height: 51px;
	}
	.hosting_hero p{
		margin-top: 10px;
		font-size: 30px;
		line-height: 40px;
	}
	.hosting_hero .btn_type1, .contact_hero .btn_type1{
		margin-top: 20px;
	}
	.hosting_services .custom_rows .custom_col{
		display: block;
		text-align: center;
		margin-bottom: 40px;
		img{
			display: block;
			margin: auto;
			margin-bottom: 28px;
		}
	}
	.hosting_services .custom_rows .custom_col h2{
		padding-top: 0;
	}
	.hosting_steps_to_start .steps .step .icons{
		width: 88px;
		height: 88px;
	}
	.hosting_steps_to_start .steps .step{
		max-width: 100%;
		margin-bottom: 33px;
	}
	.hosting_steps_to_start .steps .step:last-child{
		margin-bottom: 0;
	}
	.hosting_map .our_facialities h1{
		font-size: 40px;
		line-height: 51px;
	}
	.hosting_map_slider .slick-prev{
		left: calc(50% - 169px);
	}
	.hosting_map_slider .slick-next{
		right: calc(50% - 169px);
	}
	.hosting_map_slider .hosting_slider{
		padding: 0;
	}
	.hosting_faq h1{
		font-size: 30px;
		line-height: 38px;
	}
	.hosting_faq .custom_row{
		display: block;
	}
	.hosting_faq .custom_row .left_side{
		width: 100%;
		margin-bottom: 30px;
	}
	.hosting_faq .custom_row .right_side{
		width: 10%;
	}
	.hosting_faq .custom_row h2{
		font-size: 24px;
		line-height: 31px;
		text-align: center;
		margin-bottom: 18px;
		padding: 10px;
	}
	.hosting_faq .custom_row{
		// margin-top: 40px;
	}
	.hosting_cta{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.hosting_cta h1{
		font-size: 30px;
		line-height: 40px;
	}
	.hosting_cta .btn_type1{
		margin-top: 30px;
	}
	.hosting_faq .custom_row .right_side{
		width: 100%;
	}
	.hosting_faq .custom_row .right_side .faq_card{
		margin-bottom: 15px;
	}



	.firmware_hero{
		padding-top: 70px;
	}
	.firmware_hero h1{
		font-size: 40px;
		line-height: 51px;
	}
	.firmware_hero h2{
		margin-top: 30px;
		font-size: 18px;
		line-height: 25px;
	}
	.firmware_hero p{
		font-size: 18px;
		line-height: 25px;
		margin-top: 15px;
	}
	.firmware_hero .custom_row .custom_col:nth-child(2) img{
		max-width: 100%;
	}
	.firmware_hero_sec2 .antminter_box{
		display: block;
	}	
	.firmware_hero_sec2 .antminter_box .left{
		width: 100%;
		min-height: 113px;
	}
	.firmware_hero_sec2 .antminter_box .right{
		justify-content: center;
		ul{
			li{
				text-align: center;
				font-size: 18px;
				line-height: 30px;
			}
		}
	}
	.firmware_hero_sec3 .custom_row h2{
		text-align: center;
		font-size: 24px;
		line-height: 31px;
	}
	.firmware_hero_sec3 .custom_row p{
		text-align: center;
	}
	.firmware_hero_sec3 .custom_row ul li{
		text-align: center;
		line-height: 130%;
		margin-bottom: 10px;
	}
	.firmware_hero_sec3 .custom_row ul li:last-child{
		margin-bottom: 0;
	}
	.firmware_hero_sec3 .custom_row ul,.firmware_hero_sec3 .custom_row p{
		padding: 15px;
	}

	.firmware_hero_features h1{
		font-size: 30px;
		line-height: 38px;
	}
	.firmware_hero_features .custom_row{
		display: block;
		.custom_col{
			width: 100%;
			max-width: 100%;
		}
		.custom_col:nth-child(2){
			margin-top: 40px;
		}
	}
	.firmware_hero_features .custom_row h2{
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.firmware_hero_our_support h1{
		font-size: 30px;
		line-height: 40px;
	}
	.firmware_hero_our_support{
		padding-bottom: 150px;
		padding-top: 50px;
	}
	.firmware_hero_our_support .our_support_img {
	    left: calc(50% - 180px);
	    bottom: 23px;
	    top: unset;
	    max-width: 250px;
	}


	.blog_post_page .blog_posts .post:first-child{
		padding-top: 75px;
		padding-bottom: 28px;
		margin-bottom: 28px;
	}
	.blog_post_page .blog_posts .post:first-child .post_inside img{
		height: 225px;
	}
	.blog_post_page .blog_posts .post:first-child .post_inside .cont{
		padding: 18px;
		text-align: center;
	}
	.blog_post_page .blog_posts .post:first-child .post_inside .cont h2{
		font-size: 28px;
		line-height: 36px;
		min-height: unset;
		max-height: unset;
	}
	.blog_post_page .blog_posts .post:first-child .post_inside .cont p{
		min-height: unset;
		max-height: unset;
		font-size: 18px;
		line-height: 25px;	
	}
	.blog_post_page .blog_posts .post:first-child .post_inside .cont .readmore{
		position: relative;
		bottom: unset;
		left: unset;
		text-align: center;
		margin-top: 15px;
	}
	.blog_post_page .blog_posts .post{
		max-width: 100%;
		margin-bottom: 28px;
		text-align: center;
	}
	.blog_post_page .blog_posts .post_inside .cont p, .blog_post_page .blog_posts .post_inside .cont h2{
		min-height: unset;
		max-height: unset;
	}
	.blog_post_page .blog_posts .post_inside .cont .readmore{
		left: 0;
		right: 0;
	}
	.blog_post_page .blog_posts .post:last-child{
		margin-bottom: 0;
	}
	.blog_post_page .blog_posts .post_inside .cont h2{
		font-size: 24px;
		line-height: 30px;
	}
	.blog_post_page .btn_type1{
		margin-top: 30px;
	}
	.contact_sec2{
		padding-top: 22px;
	}
	.contact_hero{
		padding-top: 55px;
		padding-bottom: 50px;
	}
	.contact_sec2 .max_box .boxes{
		display: block;
		.box{
			width: 100%;
			min-height: 130px;
			margin-bottom: 17px;
		}
	}
	.contact_sec2 .max_box .boxes .box .place_for_icon{
		min-height: 50px;
		margin-bottom: 10px;
	}
	.contact_sec2 .max_box form .custom_row .custom_col{
		width: 100%;
	}
}


@media(max-width: 400px){
	.top_values .cont p,.top_values .cont h2{
		font-size: 10px;
	}
	.navbar{
		top: 80px;
	}
	.nav_for_scroll{
		top: -100px;
	}
	.nav_for_scroll_v3{
		top: 0;
	}
	.navbar .wrapper .logo{
		max-width: 180px;
	}
	.navbar .lines .line{
		width: 34px;
		height: 3px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.navbar .lines .line:nth-child(2){
		width: 29px;
	}
	body{
		padding-top: 150px;
	}
	.navbar .overlapcontent{
		top: 150px;
	}
	.navbar .wrapper .formobile{
		top: 150px;
	}
	.navbar.nav_for_scroll_v3 .overlapcontent{
		top: 69px;
	}
	.navbar.nav_for_scroll_v3 .formobile{
		top: 69px;
	}
	.navbar_active{
		.lines{
			.line{
				background: #D9D9D9;
				border-radius: 5px;
				width: 34px !important;
			}
			.line:nth-child(1){
				transform: rotate(45deg);
			}
			.line:nth-child(2){
			    transform: rotate(-45deg);
			    margin-top: -8px;
			}
			.line:nth-child(3){
			    transform: rotate(-45deg);
			    margin-top: -8px;
			}
		}
	}
	.navbar .wrapper .formobile{
		width: 240px;
	}
	.navbar .wrapper .formobile ul{
		width: 100%;
	}
	.navbar .wrapper .formobile .for_soc_icons{
		width: 100%;
	}
	.home_hero h1{
		font-size: 35px;
		line-height: 130%;
	}
	.btn_type1 a{
		padding: 15px;
	}
	.home_hero{
		.btn_type1 a{
			font-size: 14px;
		}
	}
	.our_offer .custom_rows .custom_col h2{
		font-size: 16px;
	}
	.our_offer .custom_rows .custom_col img{
		margin-bottom: 10px;
		max-width: 100px;
	}
	.latest_updates h1{
		br{
			display: none;
		}
	}
	.latest_updates .blog_posts .post:first-child .cont{
		padding: 18px 26px;
	}
	.testimonial .slider_area p{
		font-size: 14px;
		line-height: 130%;
	}
	.where_we_are .locations .location:nth-child(2) h2{
		font-size: 22px;
	}
	.where_we_are .locations .location:nth-child(2) p{
		font-size: 18px;
	}
	.where_we_are .locations .location h2{
		font-size: 20px;
		line-height: 140%;
	}
	.where_we_are .locations .location p{
		font-size: 16px;
		line-height: 140%;
	}
	footer .custom_row .col ul li{
		font-size: 16px;
		line-height: 140%;
		a{
			font-size: 16px;
			line-height: 140%;
		}
	}
	footer .custom_row .col .credit_cards{
		margin-bottom: 25px;
	}
	footer .custom_row .col ul li a svg{
		margin-left: 3px;
		margin-right: 3px;
		margin-top: 10px;
	}
	.latest_updates .blog_posts .post .cont h2{
		font-size: 20px;
		line-height: 140%;
	}
	.latest_updates .blog_posts .post .cont p{
		font-size: 16px;
		line-height: 140%;
	}
	.testimonial .slider_area h2{
		font-size: 18px;
		line-height: 140%;
	}
	.testimonial .slider_area h3{
		font-size: 14px;
		line-height: 140%;
	}
	.hosting_map_slider .slick-prev{
		left: 15px;
	}
	.hosting_map_slider .slick-next{
		right: 15px;
	}
	.hosting_hero h1, .contact_hero h1 {
	    font-size: 30px;
	    line-height: 41px;
	}
	.hosting_hero p {
	    margin-top: 10px;
	    font-size: 25px;
	    line-height: 30px;
	}
	.hosting_steps_to_start h1 {
	    font-size: 30px;
	    line-height: 41px;
	}
	.hosting_steps_to_start .steps{
		margin-top: 30px;
		.step{
			margin-bottom: 15px;
		}
	}
}















