// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
  font-family: "MontHeavy";
  src: url("../fonts/MontHeavy.otf");
}
@font-face {
  font-family: "MontExtraLight";
  src: url("../fonts/MontExtraLight.otf");
}
@font-face {
  font-family: "MontBold";
  src: url("../fonts/MontBold.otf");
}
@font-face {
  font-family: "MontRegular";
  src: url("../fonts/MontRegular.otf");
}
// fonts end


// def code
body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,p{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
input:focus{
	outline: none;

}
.wrapper{
	max-width: 1249px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
img{
	max-width: 100%;
}
body{
	padding-top: 135px;
}
.disable_scroll {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0; 
}
// def code end


.btn_type1{
	margin-top: 25px;
	a{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		text-transform: uppercase;
		color: #A31E22;
		border: 2px solid #A31E22;
		border-radius: 50px;
		padding: 15px 30px;
		text-decoration: none;
		display: inline-block;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	a:hover{
		background: #A31E22;
		color: #fff;
	}
}

.regular_title{
	font-family: 'MontBold';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 51px;
	text-align: center;
	color: #FFFFFF;
}
.regular_paragraph{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 20px;
}

.top_values{
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999999999999999999999999;
	.cont{
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #F3F7FA;
		max-width: 1210px;
	    margin: auto;
	    padding-left: 22px;
	    padding-right: 22px;
	    padding-top: 12px;
	    padding-bottom: 10px;
		p{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			color: #7D7D7D;
			line-height: 100%;
		}
		h2{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 13px;
			color: #404040;
			line-height: 100%;
			margin-bottom: 5px;
			.green{
				color: #1EA33B;
			}
		}
	}
}


.navbar{
	background: #FFFFFF;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 0;
	right: 0;
	top: 53px;
	z-index: 999999999;
	padding-top: 19px;
	padding-bottom: 18px;
	.for_soc_icons{
		display: none;
	}
	.wrapper{
		position: relative;
		.logo{
			display: block;
		}
		ul{
			padding: 0;
			margin: 0;
			position: absolute;
			right: 15px;
			top: 2px;
			display: flex;
			align-items: center;
			list-style-type: none;

			li{
				margin-left: 10px;
				margin-left: 35px;
				a{
					font-family: 'Montserrat', sans-serif;
					font-style: normal;
					font-weight: 700;
					font-size: 14px;
					line-height: 18px;
					text-align: center;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					color: #404040;
					text-decoration: none;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
				a:hover{
					color: #A31E22;
				}
			}
			.contactus{
				margin-left: 44px;
				a{
					display: flex;
				    align-items: center;
				    justify-content: center;
				    background: #A31E22;
				    border-radius: 20px;
				    color: #fff;
				    padding: 10px 19px;
				    font-size: 14px;
				    line-height: 18px;
				    letter-spacing: 0;
				    border: 2px solid #A31E22;
				}
				a:hover{
					background: #fff;
					color: #A31E22;
				}
			}
			.active{
				a{
					color: #A31E22;
					font-weight: 900;
				}
			}
		}
	}
}

.nav_for_scroll{
	position: fixed;
	top: -100px;
}
.nav_for_scroll_v2{
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.nav_for_scroll_v3{
	top: 0;
}

.top_values_for_scroll{
	position: fixed;
	bottom: -100px;
	top: unset;
	background: #F3F7FA;
}
.top_values_for_scroll_v2{
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.top_values_for_scroll_v3{
	bottom: 0;
}







.home_hero{
	min-height: 644px;
	background: url("../img/hero_bg.png") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 142px;
	h1{
		font-family: 'MontHeavy';
		font-style: normal;
		font-weight: 800;
		font-size: 40px;
		line-height: 50px;
		color: #A31E22;
	}
	p{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 30px;
		color: rgba(0, 0, 0, 0.56);
    max-width: 990px;
    margin-top: 23px;
	}
	.wrapper{
		position: relative;
		.social_icons{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			a{
				display: block;
				margin: 10px 0;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			a:hover{
				opacity: 0.7;
			}
		}
	}
}


.why_teslawatt{
	background: #A31E22;
	padding-top: 84px;
	padding-bottom: 26px;
	.custom_rows{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: auto;
		margin-top: 40px;
		max-width: 1210px;
		.custom_col{
			width: calc(50% - 15px);
			max-width: 530px;
			margin-bottom: 76px;
			.place_for_img{
				min-height: 80px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			img{
				display: block;
				margin: auto;
			}
		}
	}
	h2{
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 28px;
		line-height: 36px;
		text-align: center;
		color: #FFFFFF;
		margin-top: 21px;
	}
}


.our_offer{
	background: url("../img/our_offer_bg.png") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 80px;
	h1{
		font-family: 'MontBold';
		font-style: normal;
		font-weight: 800;
		font-size: 50px;
		line-height: 64px;
		text-align: center;
		color: #A31E22;
	}
	.custom_rows{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: auto;
		margin-top: 57px;
		max-width: 1210px;
		.custom_col{
			width: calc(33.33% - 15px);
			max-width: 530px;
			display: flex;
			align-items: center;
			margin-bottom: 62px;
			h2{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 31px;
				text-align: left;
				color: #1E1E25;
			}
			img{
				margin-right: 27px;
			}
		}
	}
	p{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			color: rgba(0, 0, 0, 0.56);
	    max-width: 990px;
	    margin: auto;
	    text-align: center;
	    margin-top: 31px;
	}
}

.latest_updates{
	background: #F4F4F4;
	padding-top: 76px;
	padding-bottom: 57px;
	h1{
		font-family: 'MontBold';
		font-style: normal;
		font-weight: 800;
		font-size: 40px;
		line-height: 51px;
		text-align: center;
		color: #A31E22;
		span{
			font-family: MontHeavy;
			font-weight: 900;
		}
	}
	.blog_posts{
		position: relative;
		margin-top: 62px;
		padding-left: 520px;
		.post{
			background: #fff;
			display: flex;
			border-radius: 20px;
			margin-bottom: 32px;
			border: 1px solid #D1D1D1;
			img{
				border-radius: 20px;
				height: 100%;
				max-width: 283px;
				object-fit: cover;
			}
			.cont{
				padding: 18px 26px;
				h3{
					font-family: 'Montserrat', sans-serif;
					font-weight: 400;
					font-style: normal;
					font-size: 12px;
					line-height: 28px;
					color: rgba(0, 0, 0, 0.46);
				}
				h2{
					font-family: 'Montserrat', sans-serif;
					font-weight: 800;
					font-style: normal;
					font-size: 28px;
					line-height: 37px;
					color: #1E1E25;
					margin-top: 2px;
					-webkit-font-smoothing: antialiased;
					  -moz-osx-font-smoothing: grayscale;
				}
				p{
					font-family: 'Montserrat', sans-serif;
					font-weight: 400;
					font-style: normal;
					font-size: 18px;
					line-height: 25px;
					color: rgba(0, 0, 0, 0.56);
					margin-top: 8px;
					min-height: 75px;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
				.readmore{
					margin-top: 20px;
					a{
						font-family: 'Poppins';
						font-style: normal;
						font-weight: 500;
						font-size: 18px;
						line-height: 27px;
						color: #A31E22;
						text-decoration: unset;
						-webkit-transition: all .25s ease;
						   -moz-transition: all .25s ease;
						    -ms-transition: all .25s ease;
						     -o-transition: all .25s ease;
						        transition: all .25s ease;
						svg{
							-webkit-transition: all .25s ease;
							   -moz-transition: all .25s ease;
							    -ms-transition: all .25s ease;
							     -o-transition: all .25s ease;
							        transition: all .25s ease;
							.fill{
								fill: #A31E22;
								-webkit-transition: all .25s ease;
								   -moz-transition: all .25s ease;
								    -ms-transition: all .25s ease;
								     -o-transition: all .25s ease;
								        transition: all .25s ease;
							}
						}
					}
					a:hover{
						color: #721518;
						svg{
							margin-left: 10px;
							.fill{
								fill: #721518;
							}
						}
					}
				}
			}
		}
		.post:first-child{
			position: absolute;
			left: 0;
			top: 0;
			max-width: 491px;
			display: block;
			bottom: 0;
			margin-bottom: 0;
			img{
				width: 100%;
				max-width: 100%;
				height: 317px;
			}
			.cont{
				padding: 13px 24px;
			}
			h2{
				margin-top: 0;
			}
			p{
				margin-top: 5px;
			}
			.readmore{
				margin-top: 25px;
			}
		}
	}
	.btn_type1{
		text-align: center;
		margin-top: 57px;
	}
}



.testimonial{
	background: #fff;
	padding-top: 68px;
	padding-bottom: 60px;
	h1{
		font-family: 'MontBold';
		font-style: normal;
		font-weight: 800;
		font-size: 40px;
		line-height: 51px;
		text-align: center;
		color: #1E1E25;
		span{
			font-family: MontHeavy;
			font-weight: 900;
		}
	}
	.slider_area{
		border: 1px solid #D9D9D9;
		border-radius: 20px;
		max-width: 800px;
		margin: auto;
		margin-top: 40px;
		.testimonial_icon{
			display: block;
			margin: auto;
		}
		.slick-slide{
			padding-top: 45px;
			padding-bottom: 28px;
		}
		.slick-prev{
			position: absolute;
			left: 27px;
			top: 50%;
			transform: translateY(-50%);
			width: 17px;
			height: 29px;
			background: url("../img/arrow_left.svg");
			background-size: 100%;
			border: 0;
			font-size: 0;
		}
		.slick-arrow{
			z-index: 100;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		.slick-arrow:hover{
			opacity: 0.7;
		}
		.slick-next{
			position: absolute;
			right: 27px;
			top: 50%;
			transform: translateY(-50%);
			width: 17px;
			height: 29px;
			background: url("../img/arrow_right.svg");
			background-size: 100%;
			border: 0;
			font-size: 0;
		}
		p{
			max-width: 595px;
			margin: auto;
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 27px;
			text-align: center;
			color: rgba(0, 0, 0, 0.56);
			margin-top: 44px;
			min-height: 135px;
		}
		h2{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 800;
			font-size: 21px;
			line-height: 30px;
			text-align: center;
			color: #1E1E25;
			margin-top: 36px;
		}
		h3{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 800;
			font-size: 14px;
			line-height: 30px;
			text-align: center;
			color: #1E1E25;
			opacity: 0.46;
		}
	}
}

.home_cta{
	background: #A31E22;
	padding-top: 82px;
	padding-bottom: 61px;
	h1{
		font-family: 'MontBold';
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 50px;
		text-align: center;
		color: #FFFFFF;
	}
	.btn_type1{
		text-align: center;
		margin-top: 40px;
		a{
			border-color: #fff;
			color: #fff;
		}
		a:hover{
			background: #fff;
			color: #A31E22;
		}
	}
}

.where_we_are{
	background: #F4F4F4;
	padding-bottom: 54px;
	padding-top: 61px;
	h1{
		font-family: 'MontBold';
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 50px;
		text-align: center;
		color: #1E1E25;
	}
	.locations{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 60px;
		.location{
			background: #FFFFFF;
			border-radius: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 310px;
			min-height: 218px;
			img{
				display: block;
				margin: auto;
			}
			h2{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 800;
				font-size: 24px;
				line-height: 30px;
				text-align: center;
				color: #A31E22;
				margin-top: 30px;
				padding: 0 20px;
			}
			p{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 30px;
				text-align: center;
				color: #404040;
				padding: 0 20px;
			}
		}
		.location:nth-child(3){
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			img{
				max-width: 36.78px;
			}
		}
		.location:nth-child(1){
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			img{
				max-width: 36.78px;
			}
		}
		.location:nth-child(2){
			border: 3px solid #A31E22;
			border-radius: 26.789px;
			min-height: 292px;
			max-width: 432.64px;
			width: 100%;
			h2{
				font-size: 32.1468px;
				line-height: 40px;
				padding: 0 30px;
			}
			p{
				font-size: 24px;
				line-height: 40px;
				padding: 0 30px;
			}
		}
	}
}

.contact_us{
	background: #fff;
	padding-top: 60px;
	padding-bottom: 53px;
	h1{
		font-family: 'MontBold';
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 50px;
		text-align: center;
		color: #1E1E25;
	}
	form{
		margin: auto;
		display: block;
		max-width: 1017px;
		margin-top: 47px;
		input{
			background: #FFFFFF;
			border: 1px solid #D0D0D0;
			border-radius: 5px;
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			color: rgba(0, 0, 0, 1);
			padding: 10px 16px;
			width: 100%;
			margin-bottom: 27px;
		}
		textarea{
			background: #FFFFFF;
			border: 1px solid #D0D0D0;
			border-radius: 5px;
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			color: rgba(0, 0, 0, 1);
			padding: 15px 16px;
			width: 100%;
			margin-bottom: 27px;
			min-height: 170px;
			max-width: 100%;
			min-width: 100%;
		}
		*::placeholder{
			color: rgba(0, 0, 0, 0.46);
		}
		input:focus, textarea:focus{
			border-color: #A31E22;
			outline: none;
		}
		.tworows{
			display: flex;
			justify-content: space-between;
			div{
				width: calc(50% - 15px);
			}
		}
		.button{
			text-align: center;
			margin-top: 10px;
			button{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 800;
				font-size: 16px;
				line-height: 20px;
				text-align: center;
				text-transform: uppercase;
				color: #fff;
				background: #A31E22;
				border: 2px solid #A31E22;
				border-radius: 50px;
				padding: 15px 30px;
				text-decoration: none;
				display: inline-block;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			button:hover{
				background: #fff;
				color: #A31E22;
			}
		}
	}
}

footer{
	background: #1E1E25;
	padding-top: 82px;
	padding-bottom: 48px;
	.custom_row{
		display: flex;
		justify-content: space-between;
		.col{
			h2{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 800;
				font-size: 21px;
				line-height: 26px;
				color: #FFFFFF;
				margin-bottom: 27px;
			}
			ul{
				padding: 0;
				margin: 0;
				list-style-type: none;
				li{
					display: block;
					margin-bottom: 14px;
					font-family: 'Montserrat', sans-serif;
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 26px;
					color: rgba(255, 255, 255, 0.56);
					text-decoration: none;
					a{
						display: inline-block;
						font-family: 'Montserrat', sans-serif;
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 26px;
						color: rgba(255, 255, 255, 0.56);
						text-decoration: none;
						svg{
							.fill{
								fill: #fff;
								-webkit-transition: all .25s ease;
								   -moz-transition: all .25s ease;
								    -ms-transition: all .25s ease;
								     -o-transition: all .25s ease;
								        transition: all .25s ease;
							}
						}
						-webkit-transition: all .25s ease;
						   -moz-transition: all .25s ease;
						    -ms-transition: all .25s ease;
						     -o-transition: all .25s ease;
						        transition: all .25s ease;
					}
					a:hover{
						color: #A31E22;
						svg{
							.fill{
								fill: #A31E22;
							}
						}
					}
				}
				li:last-child{
					margin-bottom: 0;
				}
			}

			.credit_cards{
				display: block;
				margin-top: -7px;
				margin-bottom: 32px;
			}
		}
		.col:nth-child(2){
			ul{
				li{
					margin-bottom: 25px;
				}
			}
		}
	}
}

.after_footer{
	padding: 11px 0;
	padding-bottom: 65px;
	p{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 40px;
		text-align: center;
		color: rgba(0, 0, 0, 0.56);
	}
}





// hosting_hero
.hosting_hero{
		min-height: 642px;
		background: url("../img/hero_bg.png") no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding-top: 168px;
		h1{
			font-family: 'MontHeavy';
			font-style: normal;
			font-weight: 800;
			font-size: 50px;
			line-height: 64px;
			text-align: center;
			color: #A31E22;
			margin: auto;
			max-width: 800px;
		}
		p{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 30px;
			line-height: 30px;
			color: rgba(0, 0, 0, 0.56);
			margin-top: 17px;
			text-align: center;
		}
		.btn_type1{
			text-align: center;
			margin-top: 67px;
		}
		.wrapper{
			position: relative;
			.social_icons{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				a{
					display: block;
					margin: 10px 0;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
				a:hover{
					opacity: 0.7;
				}
			}
		}
}
// hosting_hero end

// hosting_services
.hosting_services{
	background: #1E1E25;
	padding-top: 93px;
	padding-bottom: 44px;
	.custom_rows{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.custom_col{
			display: flex;
			align-items: start;
			max-width: calc(50% - 17px);
			padding-right: 18px;
			margin-bottom: 52px;
			img{
				margin-right: 27px;
			}
			h2{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 800;
				font-size: 22px;
				line-height: 31px;
				color: #FFFFFF;
				padding-top: 8px;
			}
			p{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 23px;
				color: #FFFFFF;
				margin-top: 5px;
				letter-spacing: 0.14px;
			}
		}
	}
}
// hosting_services end

// hosting_steps_to_start
.hosting_steps_to_start{
	padding-top: 86px;
	padding-bottom: 99px;
	h1{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 51px;
		color: #1E1E25;
		max-width: 283px;
	}
	.content{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.steps{
		display: flex;
		justify-content: space-between;
		width: calc(100% - 313px);
		.step{
			background: #F0F0F0;
			border-radius: 20px;
			max-width: 282px;
			width: 100%;
			display: flex;
			align-items: center;
			.icons{
				background: #A31E22;
				border-radius: 20px 0px 0px 20px;
				width: 88px;
				height: 88px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			h2{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 700;
				font-size: 21px;
				line-height: 27px;
				color: #A31E22;
				margin-left: 21px;
			}
		}
	}
}
// hosting_steps_to_start end


// hosting_map
.hosting_map{
	background: #A31E22;
	padding-top: 112px;
	padding-bottom: 69px;
	.our_facialities{
		display: flex;
		justify-content: space-between;
    max-width: 1160px;
    margin: auto;
    .right_side{
    	max-width: 520px;
    	padding-top: 19px;
    }
    h1{
    	font-family: 'Montserrat', sans-serif;
    	font-style: normal;
    	font-weight: 600;
    	font-size: 49px;
    	line-height: 51px;
    	color: #fff;
    }
    p{
    	font-family: 'Montserrat', sans-serif;
    	font-style: normal;
    	font-weight: 400;
    	font-size: 18px;
    	line-height: 25px;
    	color: #FFFFFF;
    	margin-top: 5px;
    	letter-spacing: 0.14px;
    	margin-top: 29px;
    }
    .btn_type1{
    	a{
    		border-color: #fff;
    		color: #fff;
    	}
    	a:hover{
    		background: #fff;
    		color: #A31E22;
    	}
    }
	}
}

.hosting_map_slider{
	.hosting_slider {
	  width: 1050px;
	  margin: 20px auto;
	  text-align: center;
	  padding: 20px;
	  color: white;
	  margin-top: 105px;
	}
	.hosting_slider .slide {
	  padding: 0;
	}
	.hosting_slider .slide .child-element {
	  width: 100%;
	  height: 215px;
	  margin: 30px 0;
	  -webkit-transition: all .5s ease;
	     -moz-transition: all .5s ease;
	      -ms-transition: all .5s ease;
	       -o-transition: all .5s ease;
	          transition: all .5s ease;
	  position: relative;
	  z-index: 0;
	  img{
	  	width: 100%;
	  	height: 100%;
	  	border-radius: 5px;
	  	object-fit: cover;
	  	// margin-left: -73.3%;
	  	opacity: 0.7;
	  }
	}
	.hosting_slider .slide.slick-center .child-element {
	  margin: 0;
	  height: 269px;
	  max-width: initial;
	  z-index: 10;
	  img{
	  	opacity: 1;
	  }
	}
	.slick-prev{
		position: absolute;
		left: calc(50% - 219px);
		top: 50%;
		transform: translateY(-50%);
		width: 17px;
		height: 29px;
		background: url("../img/arrow_left.svg");
		background-size: 100%;
		border: 0;
		font-size: 0;
	}
	.slick-arrow{
		z-index: 100;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	.slick-arrow:hover{
		opacity: 0.7;
	}
	.slick-next{
		position: absolute;
		right: calc(50% - 219px);
		top: 50%;
		transform: translateY(-50%);
		width: 17px;
		height: 29px;
		background: url("../img/arrow_right.svg");
		background-size: 100%;
		border: 0;
		font-size: 0;
	}
}
// hosting_map end

// hosting_faq
.hosting_faq{
	padding-top: 62px;
	padding-bottom: 44px;
	h1{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 51px;
		text-align: center;
		color: #A31E22;
    margin: auto;
    max-width: 570px;
	}
	.custom_row{
		display: flex;
		justify-content: space-between;
		margin-top: 59px;
		h2{
			background: #F4F4F4;
			border-radius: 20px;
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 28px;
			line-height: 36px;
			color: #1E1E25;
			padding: 13px 27px;
			margin-bottom: 23px;
			letter-spacing: 0.2px;
			cursor: pointer;
			border: 2px solid #F4F4F4;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		h2:hover{
			border: 2px solid #A31E22;
			color: #A31E22;
		}
		.active{
			background: #A31E22;
			color: #fff;
			border: 2px solid #A31E22;
		}
		.active:hover{
			color: #fff;
		}
		.left_side{
			width: calc(41% - 10px);
		}
		.right_side{
			width: calc(58% - 10px);
			h3{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 23.4px;
				line-height: 30px;
				color: #1E1E25;
				padding-left: 28px;
				cursor: pointer;
				position: relative;
			}

			.option{
				overflow: hidden;
				max-height: 0;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			.active_option{
				max-height: 1000px;
			}
			.faq_card{
				margin-bottom: 22px;
			}
			.question{
				position: relative;
				.plus_icon{
				    position: absolute;
				    left: 0px;
				    top: 50%;
				    transform: translateY(-50%);
				    height: 20px;
				    display: flex;
				    align-items: center;
				    .plus_line{
				        width: 12px;
				        height: 3px;
				        background: #A31E22;
				        -webkit-transition: all .25s ease;
				           -moz-transition: all .25s ease;
				            -ms-transition: all .25s ease;
				             -o-transition: all .25s ease;
				                transition: all .25s ease;
				    }
				    .plus_line:nth-child(2){
								left: 50%;
								position: absolute;
								top: calc(50% + 1px);
								transform: translate(-50%, -50%) rotate(90deg);
				    }
				}
			}
			.question_opened{
					.plus_icon .plus_line{
						background: #1E1E25;
					}
			    .plus_icon .plus_line:nth-child(2){
			        transform: rotate(0) translate(-50%, -50%);
			    }
			}
			.answer{
				max-height: 0;
				overflow: hidden;
				-webkit-transition: all .25s ease;
				-moz-transition: all .25s ease;
				-ms-transition: all .25s ease;
				-o-transition: all .25s ease;
				transition: all .25s ease;
			}
			.inside{
				padding-left: 29px;
				padding-top: 6px;
				padding-bottom: 6px;
				p{
					font-family: 'Montserrat', sans-serif;
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 23px;
					color: #1E1E25;
					a{
						color: #A31E22;
						font-weight: 700;
						text-decoration: none;
						-webkit-transition: all .25s ease;
						   -moz-transition: all .25s ease;
						    -ms-transition: all .25s ease;
						     -o-transition: all .25s ease;
						        transition: all .25s ease;
					}
					a:hover{
						opacity: 0.7;
					}
				}
			}
		}
	}
}
// hosting_faq end

// hosting_cta
.hosting_cta{
	background: url("../img/hosting_cta_bg.png") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 64px;
	padding-bottom: 64px;
	h1{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 40px;
				line-height: 51px;
				text-align: center;
				color: #fff;
	}
	.btn_type1{
		text-align: center;
		margin-top: 34px;
		a{
			color: #fff;
			border-color: #fff;
		}
		a:hover{
			background: #fff;
			color: #A31E22;
		}
	}
}
// hosting_cta end



// firmware_hero
.firmware_hero{
	min-height: 642px;
	background: url("../img/hero_bg.png") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 93px;
	.custom_row{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.custom_col:nth-child(1){
			width: calc(50% + 10px);
		}
		.custom_col:nth-child(2){
			width: calc(50% + 5px);
			margin-right: -28px;
		}
	}
	h1{
		font-family: 'MontHeavy';
		font-style: normal;
		font-weight: 800;
		font-size: 50px;
		line-height: 64px;
		text-align: left;
		color: #A31E22;
	}
	h2{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 21px;
		line-height: 30px;
		color: rgba(0, 0, 0, 0.56);
	}
	p{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 30px;
		color: rgba(0, 0, 0, 0.56);
		margin-top: 17px;
		text-align: left;
	}
}
// firmware_hero end

// firmware_hero_sec2
.firmware_hero_sec2{
	padding-top: 56px;
	padding-bottom: 32px;
	.custom_row{
		margin-top: 0;
	}
	.antminter_box{
		border: 2px solid #A31E22;
		border-radius: 20px;
		display: flex;
		overflow: hidden;
		.left{
			display: flex;
			align-items: center;
			justify-content: center;
			background: #A31E22;
			width: 280px;
			// border-radius: 20px 0px 0px 20px;
			min-height: 153px;
			h2{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 28px;
				line-height: 40px;
				text-align: center;
				color: #FFFFFF;
				background: transparent;
				border: 0;
				margin: 0;
			}
		}
		.right{
			display: flex;
			align-items: center;
			padding-left: 30px;
			ul{
				position: relative;
				margin: 0;
				padding: 0;
				list-style-type: none;
				li{
					font-family: 'Montserrat', sans-serif;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 30px;
					color: #1E1E25;
				}
			}
		}
	}
}
// firmware_hero_sec2 end


// firmware_hero_sec3
.firmware_hero_sec3{
	background: #A31E22;
	padding-top: 46px;
	padding-bottom: 21px;
	.custom_row{
		display: flex;
		justify-content: space-between;
		.custom_col:nth-child(1){
			width: 100%;
			max-width: 491px;
			.box{
				padding-bottom: 0;
				margin-bottom: 15px;
				p{
					padding: 13px 40px;
				}
			}
		}
		.custom_col:nth-child(2){
			max-width: calc(100% - 522px);
			width: 100%;
		}

		.box{
			background: #FFFFFF;
			border-radius: 20px;
			overflow: hidden;
			padding-bottom: 9px;
		}
		h2{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 31px;
			color: #1E1E25;
			background: #F4F4F4;
			border: 1px solid #D9D9D9;
			border-radius: 20px;
			padding: 13px 38px;
			span{
				color: #A31E22;
			}
		}
		p{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			color: rgba(0, 0, 0, 0.56);
			padding: 19px 40px;
		}

	}
	.downloadbtn{
		a{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			text-transform: uppercase;
			color: #FFFFFF;
			text-decoration: none;
			display: block;
			border: 2px solid #FFFFFF;
			border-radius: 50px;
			padding: 14px;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		a:hover{
			background: #fff;
			border-color: #fff;
			color: #A31E22;
		}
	}
	.custom_col .sm{
		font-family: 'Montserrat', sans-serif;
		font-style: italic;
		font-weight: 400;
		font-size: 14px;
		line-height: 30px;
		text-align: center;
		color: rgba(255, 255, 255, 0.56);
		padding: 0px;
		margin-top: 2px;
	}
}
// firmware_hero_sec3 end


// firmware_hero_features
.firmware_hero_features{
		padding-top: 68px;
		padding-bottom: 71px;
		h1{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			line-height: 51px;
			text-align: center;
			color: #A31E22;
	    margin: auto;
	    max-width: 570px;
		}
		.custom_row{
			display: flex;
			justify-content: space-between;
			max-width: 1167px;
			margin: auto;
			margin-top: 40px;
			.custom_col{
				max-width: 541px;
			}
			.placeforimg{
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: 77px;
				img{
					display: block;
				}
			}
			h2{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 28px;
				line-height: 36px;
				text-align: center;
				color: #A31E22;
				margin-top: 16px;
				margin-bottom: 18px;
			}
			p{
				font-family: 'Montserrat', sans-serif;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 25px;
				text-align: center;
				color: rgba(0, 0, 0, 0.56);
			}
		}
}
// firmware_hero_features end


// firmware_hero_our_support
.firmware_hero_our_support{
	background: #F4F4F4;
	padding: 85px 0;
	position: relative;
	.our_support_img{
    position: absolute;
    left: calc(50% - 720px);
    top: 23px;
	}
	h1{
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 50px;
		text-align: center;
		color: #1E1E25;
		span{
			font-weight: 700;
		}
	}
}
// firmware_hero_our_support end







