// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: 'Soleil';
  src: url("../fonts/Soleil-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'Soleil';
  src: url("../fonts/Soleil-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'Soleil';
  src: url("../fonts/Soleil-Regular.ttf");
  font-weight: 400;
}
// fonts end


// def code
body{
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	background: #142EBC;
	padding-top: 90px;
}
h1,h2,h3,h4,h5,p{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
input:focus{
	outline: none;

}
.wrapper{
	max-width: 1880px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.content_wrap{
	margin: auto;
}
img{
	max-width: 100%;
}
// def code end


// nav css
nav{
	background: #142EBC;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	.wrapper{
		position: relative;
		padding-top: 25px;
		padding-bottom: 21px;
	}
	ul{
		position: absolute;
		right: 22px;
		top: 27px;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		li{
			display: inline-block;
			margin-left: 22.3px;
			a{
				text-decoration: none;
				font-style: normal;
				font-weight: 600;
				font-size: 13px;
				line-height: 20px;
				letter-spacing: -0.4px;
				text-transform: capitalize;
				color: #FFFFFF;
				opacity: 0.9;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			a:hover{
				color: #051738;
				opacity: 1;
			}
		}
		.right_btn{
			margin-left: 30px;
			a{
				font-style: normal;
				font-weight: 800;
				font-size: 14px;
				line-height: 32px;
				text-align: center;
				background: #F21B69;
				border-radius: 31px;
				opacity: 1;
				height: 37px;
				display: flex;
				align-items: center;
				padding: 0 20px;
			}
			a:hover{
				color: #fff;
				background: #051738;
			}
		}
	}
}
// nav css end

.left_no{
	position: absolute;
	left: calc(50% - 882px);
	top: 198px;
	width: 44px;
	z-index: 2;
	.no{
		width: 44px;
		height: 44px;
		left: 77px;
		top: 198px;
		border: 2px solid #435AD6;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		font-family: 'Soleil';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 52px;
		color: #FFFFFF;
		padding-top: 3px;
	}
	.line{
		width: 2px;
		height: 22px;
		background: #435AD6;
		margin: auto;
		display: block;
		margin-top: 20px;
	}
	p{
		font-family: 'Soleil';
	    font-style: normal;
	    font-weight: 700;
	    font-size: 14px;
	    line-height: 52px;
	    letter-spacing: -0.4px;
	    color: #FFFFFF;
	    transform: rotate(270deg);
	    white-space: nowrap;
	    position: absolute;
	    transform-origin: right;
	    width: 680px;
	    text-align: right;
	    left: -657px;
	    top: 82px;
	}
}


.invest_in_sec1{
	min-height: 863px;
	position: relative;
	overflow: hidden;
	.blue_box{
		position: absolute;
	    left: calc(50% - 2260px);
	    width: 2000px;
	    top: 0;
	    bottom: 0;
	    background: #051738;
	}
	h1{
		font-family: 'Soleil';
		font-style: normal;
		font-weight: 700;
		font-size: 80px;
		line-height: 100%;
		letter-spacing: -1px;
		color: #FFFFFF;
		max-width: 540px;
		span{
			font-weight: 300;
		}
	}
	p{
		font-family: 'Soleil';
		font-style: normal;
		font-weight: 300;
		font-size: 28px;
		line-height: 120%;
		letter-spacing: -1px;
		color: #FFFFFF;
		margin-top: 72px;
		padding-left: 2px;
		max-width: 540px;
	}
	.wrapper{
		position: relative;
		z-index: 2;
	}
	.left_box{
		padding-top: 190px;
		padding-left: 320px;
	}
	.video_area{
		position: absolute;
		right: calc(50% - 830px);
		top: 134px;
		background: #fff;
		max-width: 765px;
		width: 100%;
		min-height: 729px;
		padding: 4px;
		.videoplace{
			position: relative;
		}
		.videobg{
			background: #051738;
			min-height: 426px;
			width: 100%;
			position: relative;
			cursor: pointer;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
			img{
				display: block;
				margin: auto;
			}
			video{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				opacity: 0;
				z-index: -10;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			.invest_in_sec1 .video_area .videobg .phone_video_img1{
				min-height: unset;
				max-height: unset;
				height: unset;
			}
			.phone_video_img1{
				min-height: 100%;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}
			.play_icon{
				position: absolute;
				left: 0;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transition: all .25s ease;
				-moz-transition: all .25s ease;
				-ms-transition: all .25s ease;
				-o-transition: all .25s ease;
				transition: all .25s ease;
			}
		}
		.videobg:hover{
			background: #142EBC;
			.play_icon{
				opacity: 0.5;
			}
		}
	}
}
.invest_in_sec1 .video_area .videoplace_active video{
	z-index: 1;
	opacity: 1;
}
.watch_the_video{
	margin-top: 25px;
	padding-left: 2px;
	a{
		display: inline-block;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.4px;
		text-transform: capitalize;
		color: #FFFFFF;
		text-decoration: none;
		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;
		svg{
			.fill{
				fill: #fff;
				-webkit-transition: all .25s ease;
				-moz-transition: all .25s ease;
				-ms-transition: all .25s ease;
				-o-transition: all .25s ease;
				transition: all .25s ease;
			}
			margin-left: 30px;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
	}
	a:hover{
		color: #142EBC;
		svg{
			.fill{
				fill: #142EBC;
			}
			margin-left: 40px;
		}
	}

}

.vide_down_content{
	padding: 19px 30px;
	.c_row{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.l{
		min-width: 284px;
		p{
			margin: 0;
		}
		.ALMOSTFUNDED{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.almf{
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 140.5%;
				letter-spacing: -0.6px;
				color: #FFFFFF;
				padding: 8px 10px 4px 16px;
				background: #142EBC;
				border-radius: 5px;
				line-height: 1em;
			}
			.reserved{
				font-family: 'Soleil';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 142%;
				letter-spacing: -0.8px;
				color: #142EBC;
				padding-right: 2px;

			}
		}
		h3{
			font-family: 'Inter';
			font-style: normal;
			font-weight: 800;
			font-size: 42px;
			line-height: 105.5%;
			letter-spacing: -1.5px;
			color: #142EBC;
			margin-top: 10px;
		}
		.line_s{
			background: #A3B3D0;
			border-radius: 18px;
			min-height: 8px;
			margin-top: 9px;
			position: relative;
			.blue_line_in{
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				background: #142EBC;
				border-radius: 18px;
			}
		}
		.dolla{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 9px;
			p{
				font-family: 'Soleil';
				font-style: normal;
				font-weight: 350;
				font-size: 13px;
				line-height: 100%;
				letter-spacing: -0.7px;
				color: #9CABC0;
				margin: 0;
			}
		}
	}
	.m{
		// margin-top: -8px;
		padding-right: 17px;
		div:last-child{
			p{
				margin-bottom: 0;
			}
		}
		p{
			margin: 0;
			padding: 0;
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 140.5%;
			letter-spacing: -1px;
			color: #142EBC;
			margin-bottom: 3px;
		}
		h2{
			font-style: normal;
		    font-weight: 800;
		    font-size: 18px;
		    line-height: 130%;
		    letter-spacing: -1px;
		    color: #051738;
		}
	}
	.invest_now{
		padding-right: 8px;
		a{
			display: inline-block;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 800;
			font-size: 18px;
			line-height: 20px;
			letter-spacing: -0.4px;
			text-transform: capitalize;
			color: #FFFFFF;
			text-decoration: none;
			background: #F21B69;
			border-radius: 12px;
			padding: 17px 44px;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		a:hover{
			color: #fff;
			background: #051738;
		}
	}
	.video_logos{
	    display: flex;
	    align-items: center;
	    margin-top: 38px;
	    padding-left: 5px;
		div{
			margin-right: 10px;
		    min-width: 166px;
		}
	}
	.down_p{
		display: flex;
	    align-items: center;
	    margin-top: 9px;
	    padding-left: 5px;
		div{
			margin-right: 10px;
		    min-width: 166px;
		}
		p{
			font-family: 'Soleil';
			font-style: normal;
			font-weight: 300;
			font-size: 13px;
			line-height: 100%;
			letter-spacing: -1px;
			color: #002A52;
			margin: 0;
			span{
				font-weight: 700;
			}
		}
		.links{
			a{
				display: inline-block;
				font-family: 'Soleil';
				font-style: normal;
				font-weight: 400;
				font-size: 13px;
				line-height: 142%;
				letter-spacing: -1px;
				text-decoration-line: underline;
				color: #002A52;
				margin-right: 8px;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			a:hover{
				color: #142EBC;
			}
		}
	}
}


.why_defi{
	padding-top: 250px;
	padding-bottom: 114px;
	h1{
		font-family: 'Soleil';
		font-style: normal;
		font-weight: 700;
		font-size: 68px;
		line-height: 105.5%;
		letter-spacing: -1px;
		color: #FFFFFF;
		max-width: 540px;
	}
	p{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 32px;
		color: #FFFFFF;
		max-width: 520px;
		margin-top: 52px;
	}
	.content_wrap{
		max-width: 1203px;
		position: relative;
		.two_side_box:before{
			position: absolute;
			content: '';
			width: 2px;
			top: 0;
			bottom: 0;
			margin: auto;
			left: 0;
			right: 0;
			background: #fff;
		}
		.two_side_box{
			position: absolute;
			right: 18px;
			top: -33px;
			display: flex;
			flex-wrap: wrap;
			max-width: 535px;
			width: 100%;

			.row_c{
				width: 50%;
				margin-bottom: 91px;
				img{
					display: block;
					margin: auto;
				}
				.place_for_img{
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					min-height: 70px;
					.cross{
						position: absolute;
						left: 0;
						right: 0;
						margin: auto;
						top: 50%;
						transform:translateY(-50%);
					}
				}
				p{
					font-family: 'Inter';
					font-style: normal;
					font-weight: 600;
					font-size: 18px;
					line-height: 24px;
					text-align: center;
					color: #FFFFFF;
					margin-top: 16px;
					max-width: 170px;
					margin-left: auto;
					margin-right: auto;
				}
				.sm{
					font-weight: 300;
					font-size: 16px;
				}
			}
			.row_c:last-child{
				margin-bottom: 0;
			}
			.row_c:nth-last-child(2){
				margin-bottom: 0;
			}
		}
	}
}


.invest_in_aurox{
	.box{
		border: 2px solid #FFFFFF;
		border-radius: 30px 0px;
		min-height: 230px;
		margin: auto;
		max-width: 1494px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 71px;

		.l{
			h1{
				font-family: 'Soleil';
				font-style: normal;
				font-weight: 700;
				font-size: 48px;
				line-height: 38px;
				letter-spacing: -1px;
				color: #FFFFFF;
			}
			p{
				font-family: 'Soleil';
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 38px;
				letter-spacing: -1px;
				color: #FFFFFF;
			}
		}
		.m{
			h3{
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 105.5%;
				text-align: center;
				color: #FFFFFF;
				text-align: center;
			}
			h2{
				font-family: 'Inter';
				font-style: normal;
				font-weight: 800;
				font-size: 42px;
				line-height: 105.5%;
				text-align: center;
				letter-spacing: -1.5px;
				color: #FFFFFF;
				margin-top: 12px;
				margin-bottom: 5px;
			}
			p{
				font-family: 'Inter';
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 140.5%;
				letter-spacing: -1px;
				color: #FFFFFF;
				text-align: center;
			}
			.line_s{
				background: #fff;
				border-radius: 18px;
				min-height: 8px;
				margin-top: 18px;
				position: relative;
				max-width: 267px;
				width: 100%;
				.blue_line_in{
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					background: #FF186B;
					border-radius: 18px;
				}
			}
		}
		.invest_now{
			padding-right: 18px;
			a{
				display: inline-block;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 24px;
				color: #FFFFFF;

				text-decoration: none;
				background: #FF186B;
				border-radius: 80px;
				padding: 24px 52px;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			a:hover{
				color: #fff;
				background: #051738;
			}
		}
	}
}


.explosive_market{
	padding-top: 107px;
	h1{
		font-family: 'Soleil';
		font-style: normal;
		font-weight: 400;
		font-size: 68px;
		line-height: 90%;
		text-align: center;
		color: #FFFFFF;
		span{
			font-weight: 700;
		}
	}
	p{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 40px;
		text-align: center;
		color: #FFFFFF;
		margin-top: 28px;
	}
	.tow_imgs{
		display: flex;
		justify-content: space-between;
		margin: auto;
		max-width: 1190px;
		margin-top: 118px;
		p{
			display: none;
			span{
				font-weight: 700;
			}
		}
		div{
			max-width: calc(50% - 15px);
		}
	}
}



.sucks_software{
	padding-top: 107px;
	padding-bottom: 11px;
	h1{
		font-family: 'Soleil';
		font-style: normal;
		font-weight: 400;
		font-size: 68px;
		line-height: 90%;
		text-align: center;
		color: #FFFFFF;
		span{
			font-weight: 700;
		}
	}
	p{
		margin: auto;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
		text-align: center;
		color: #FFFFFF;
		margin-top: 21px;
		max-width: 680px;
	}
	img{
		display: block;
		margin: auto;
		margin-top: 51px;
	}
}



.challenge.challenge2{
	padding-top: 0;
	padding-bottom: 0;
}
.challenge.challenge3{
	padding-top: 0;
	padding-bottom: 113px;
}
.challenge{
	padding-top: 113px;
	background: #051738;
	overflow: hidden;
	.invest_in_aurox .box .m{
		text-align: center;
	}
	.invest_in_aurox .box .m p{
		background: #142EBC;
		border-radius: 5px;
		display: inline-block;
		padding: 3px 10px;
	}

	.defi_text{
		padding: 204px 321px;
		padding-bottom: 0;
		h1{
			font-family: 'Soleil';
			font-style: normal;
			font-weight: 400;
			font-size: 68px;
			line-height: 100%;
			color: #FFFFFF;
			max-width: 429px;
			span{
				font-weight: 700;
			}
		}
		p{
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 36px;
			color: #FFFFFF;
			max-width: 429px;
			margin-top: 40px;
		}
	}
	.challange_slider{
		margin-top: 60px;
		overflow: initial;
		.slick-list{
			overflow: initial;
		}
		.item{
			width: 355px !important; 
			min-height: 581px;
			position: relative;

			p{
				font-family: 'Inter';
				font-style: normal;
				font-weight: 700;
				font-size: 27px;
				line-height: 28px;
				text-align: center;
				color: #FFFFFF;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 139px;
			}
			h2{
				font-family: 'Inter';
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 28px;
				text-align: center;
				color: #FFFFFF;
				padding-top: 145px;
			}
			h3{
				margin: auto;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 28px;
				text-align: center;
				color: #FFFFFF;
				position: relative;
				max-width: 220px;
				text-align: center;
				margin-top: 18px;
			}
			.location_pin{
				display: block;
				margin: auto;
				margin-top: 58px;
				position: relative;
			}
			.slider_logo{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 204px;
				display: block;
				margin: auto;
			}
			.img_down_slide{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
			}
			.slide3_img{
				position: absolute;
		    left: -45px;
		    right: 0;
		    bottom: 306px;
		    width: 344px !important;
		    max-width: unset;	
			}
			.slide1_desktop_img{
				position: absolute;
				right: 0;
				bottom: 0;
				width: 353px;
				max-width: unset;	
			}
			.right_side_slide{
				width: 594px;
				position: absolute;
				left: 355px;
				bottom: 0;
				max-width: unset;	
			}
		}
		.item:nth-child(2){
			background: #142EBC;
		}
		.item:nth-child(1){
			width: 321px !important;
			p{
				padding-left: 86px;
			}
		}
		.item:nth-child(3){
			width: 259.33px !important;
		}
	}
}

.solution{
	background: #051738;
	padding-top: 108px;
	padding-bottom: 126px;
	h1{
		font-family: 'Soleil';
		font-style: normal;
		font-weight: 400;
		font-size: 68px;
		line-height: 100%;
		color: #FFFFFF;
		margin: auto;
		max-width: 640px;
		text-align: center;
		margin-top: -512px;
		span{
			font-weight: 700;
		}
	}
	.solution_img{
		display: block;
		margin: auto;
		padding-left: 150px;
	}
	p{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;
		text-align: center;
		color: #FFFFFF;
		margin: auto;
		max-width: 540px;
		margin-top: 20px;
	}

	.aurox_line{
		background: #142EBC;
		border-radius: 12px;
		margin: auto;
		max-width: 1170px;
		position: relative;
		margin-top: 65px;
		padding: 32px 41px;
		img{
			display: block;
		}
		ul{
			padding: 0;
			margin: 0;
			display: flex;
			position: absolute;
			right: 46px;
			top: 29px;
			li{
				display: block;
				font-family: 'Soleil';
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 24px;
				color: #FFFFFF;
				display: flex;
				align-items: center;
				margin-left: 40px;
				img{
					margin-right: 15px;
				}
			}
		}
	}

	.custom_cols{
		margin-top: 153px;
		.c_row{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: auto;
			max-width: 1170px;
			margin-bottom: 159px;
			h2{
				font-family: 'Soleil';
				font-style: normal;
				font-weight: 700;
				font-size: 34px;
				line-height: 105.5%;
				letter-spacing: -1px;
				color: #FFFFFF;
				margin-top: 35px;
			}
			p{
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 26px;
				color: #FFFFFF;
				margin-top: 12px;
				text-align: left;
			}
			.sp{
				max-width: 419px;
			}
			.th3{
				max-width: 391px;
			}
			.r{
				max-width: calc(50% + 174px);
				width: 100%;
				img{
					display: block;
					margin: auto;
				}
			}
		}
		.changeorder{
			.l{
				order: 2;
			}
			.r{
				order: 1;
			}
		}
	}
}



.our_story{
	padding-top: 265px;
	h1{
		font-family: 'Soleil';
		font-style: normal;
		font-weight: 700;
		font-size: 68px;
		line-height: 116.5%;
		letter-spacing: -1px;
		color: #FFFFFF;
	}
	.title{
		margin: auto;
		max-width: 950px;
		text-align: center;
		padding-right: 100px;
	}
	.boxes:before{
		content: '';
		position: absolute;
		width: 3px;
		top: 11px;
		bottom: 172px;
		background: #fff;
		left: calc(50% - 210px);
	}
	.boxes{
		margin-top: 72px;
		position: relative;
		.box{
			position: relative;
			max-width: 870px;
			margin: auto;
			padding-left: 310px;
			margin-bottom: 202px;
			position: relative;
			h2{
				position: absolute;
				left: 0;
				top: -6px;
			}
		}
		.box:after{
			position: absolute;
			content: '';
			width: 20px;
			height: 68px;
			background: #FFFFFF;
			left: 225px;
	    top: 10px;
		}
		.box:last-child{
			margin-bottom: 0;
		}
		h2{
			font-family: 'Inter';
			font-style: normal;
			font-weight: 900;
			font-size: 80px;
			line-height: 116.5%;
			text-align: right;
			color: #FFFFFF;
		}
		h3{
			font-family: 'Inter';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 40px;
			color: #FFFFFF;
		}
		p{
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 28px;
			line-height: 40px;
			color: #FFFFFF;
			max-width: 548px;
			margin-top: 46px;
		}
	}
	.invest_in_aurox{
		margin-top: 93px;
	}

	.two_boxes{
		display: flex;
		justify-content: space-between;
		margin: auto;
		margin-top: 93px;
		max-width: 1160px;
		.bg_gradient{
			background: linear-gradient(182.1deg, rgba(217, 217, 217, 0) 1.77%, rgba(5, 23, 56, 0.8) 71.16%);
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			min-height: 343px;
		}
		.box{
			width: calc(50% - 10px);
			background: #051738;
			min-height: 682px;
			padding: 18px;
			position: relative;
			img{
				display: block;
				margin: auto;
				margin-bottom: 46px;
			}
			h2{
				font-family: 'Inter';
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 34px;
				color: #FFFFFF;
				padding-left: 27px;
				padding-right: 27px;
			}
			p{
				font-family: 'Inter';
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 34px;
				color: #FFFFFF;
				padding-left: 27px;
				padding-right: 27px;
				margin-top: 30px;
				max-width: 430px;
			}
		}
		.bg_img{
			background: url("../img/two_boxes1.png") no-repeat center center; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;	

			.down_tit{
				position: absolute;
				left: 63px;
				right: 63px;
				bottom: 70px;
				p{
					font-family: 'Inter';
					font-style: normal;
					font-weight: 700;
					font-size: 14px;
					line-height: 33px;
					color: #FFFFFF;
					background: #3855F0;
					border-radius: 4px;
					padding: 0 11px;
					display: inline-block;
				}
				h3{
					font-family: 'Inter';
					font-style: normal;
					font-weight: 700;
					font-size: 42px;
					line-height: 50px;
					color: #FFFFFF;
					margin-top: 35px;
					max-width: 424px;
				}
			}
		}
	}
}

.the_team{
	padding-top: 157px;
	padding-bottom: 40px;
	h1{
		font-family: 'Soleil';
		font-style: normal;
		font-weight: 700;
		font-size: 68px;
		line-height: 116.5%;
		letter-spacing: -1px;
		color: #FFFFFF;
		text-align: center;
	}
	.team_boxes{
		max-width: 1469px;
		margin: auto;
		display: flex;
		margin-top: -84px;
		.box{
			width: 33.33%;
			min-height: 769px;
			border-right: 2px solid #4E60C5;
			padding-top: 153px;
			.avatar{
				display: block;
				margin: auto;
			}
			h2{
				font-family: 'Soleil';
				font-style: normal;
				font-weight: 700;
				font-size: 32px;
				line-height: 40px;
				color: #FFFFFF;
				text-align: center;
				margin-top: 23px;
			}
			h3{
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 28px;
				color: #C5CEFF;
				margin-top: 4px;
				text-align: center;
			}
			h4{
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 800;
				font-size: 20px;
				line-height: 28px;
				color: #C5CEFF;
				margin-top: 4px;
				text-align: center;
			}
			ul{
				padding: 0;
				margin: auto;
				max-width: 335px;
				margin-top: 40px;
				padding-left: 15px;
				li{
					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 30px;
					color: #FFFFFF;
				}
			}
		}
		.box:last-child{
			border-right: 0;
		}
	}
}

.faq{
	padding-top: 108px;
	padding-bottom: 123px;
	h1{
		font-family: 'Soleil';
		font-style: normal;
		font-weight: 700;
		font-size: 56px;
		line-height: 64px;
		text-align: center;
		letter-spacing: -1px;
		text-transform: capitalize;
		color: #FFFFFF;
		margin-bottom: 56px;
	}
}

.faq_card{
	border: 1px solid #8B93BB;
	max-width: 800px;
	margin: auto;
	margin-bottom: 22px;
	.question{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
		letter-spacing: -0.4px;
		color: #FFFFFF;
		padding: 26px 36px;
		cursor: pointer;
	}
	.answer{
		overflow: hidden;
		max-height: 0;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
		.inner{
			padding: 26px 36px;
			padding-top: 0;
			p{
				font-family: 'Inter';
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: -0.4px;
				color: #FFFFFF;
			}
		}
	}
}


.join_the_discussion{
	padding-top: 149px;
	h1{
		font-family: 'Soleil';
		font-style: normal;
		font-weight: 700;
		font-size: 56px;
		line-height: 64px;
		letter-spacing: -1px;
		text-transform: capitalize;
		color: #FFFFFF;
		text-align: center;
	}
	img{
		display: block;
		margin: auto;
		margin-top: 69px;
	}
}

.disclaimers{
	padding-top: 95px;
	padding-bottom: 62px;
	h1{
		font-family: 'Soleil';
		font-style: normal;
		font-weight: 700;
		font-size: 42px;
		line-height: 64px;
		text-align: center;
		letter-spacing: -1px;
		text-transform: capitalize;
		color: #98AED7;
		text-align: center;
	}
	p{
		font-family: 'Inter';
		font-style: italic;
		font-weight: 400;
		font-size: 14px;
		line-height: 34px;
		text-align: center;
		text-transform: capitalize;
		color: #FFFFFF;
		margin: auto;
		max-width: 1342px;

		margin-top: 56px;
	}
}

footer{
	background: #051738;
	padding-top: 112px;
	padding-bottom: 76px;
	.c_row{
		display: flex;
		justify-content: space-between;
		margin: auto;
		max-width: 1712px;
		.logo{
			padding-top: 45px;
		}

		.listonrightside{
			display: flex;
			width: 100%;
			justify-content: end;
			padding-right: 35px;
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				width: 235px;
				li{
					margin-bottom: 15px;
				}
				a{
					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 36px;
					color: #FFFFFF;
					text-decoration: unset;
					display: block;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
				a:hover{
					color: #142EBC;
				}
			}
		}
	}
	.downlinks{
		display: flex;
		justify-content: space-between;
		margin: auto;
		max-width: 1712px;
		margin-top: 20px;
		.socmedia{
			ul{
				display: block;
				padding: 0;
				margin: 0;
				list-style-type: none;
				li{
					display: inline-block;
					margin-right: 11px;
					svg{
						.fill1{
							fill: #142036;
							-webkit-transition: all .25s ease;
							   -moz-transition: all .25s ease;
							    -ms-transition: all .25s ease;
							     -o-transition: all .25s ease;
							        transition: all .25s ease;
						}
						.fill2{
							fill: #184EFF;
							-webkit-transition: all .25s ease;
							   -moz-transition: all .25s ease;
							    -ms-transition: all .25s ease;
							     -o-transition: all .25s ease;
							        transition: all .25s ease;
						}
					}
					a:hover{
						svg{
							.fill1{
								fill: #184EFF;
							}
							.fill2{
								fill: #fff;
							}
						}
					}
				}
			}
		}
		.right_links{
			padding-top: 27px;
			padding-right: 170px;
			ul{
				padding: 0;
				margin: 0;
				list-style-type: none;
					li{
						display: inline-block;
						margin-left: 41px;
					a{
						font-family: 'Inter';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 28px;
						color: #C1CBDD;
						text-decoration: unset;
						-webkit-transition: all .25s ease;
						   -moz-transition: all .25s ease;
						    -ms-transition: all .25s ease;
						     -o-transition: all .25s ease;
						        transition: all .25s ease;
					}
					a:hover{
						color: #142EBC;
					}
				}
			}
		}
		
	}
}

.onlyphone{
	display: none !important;
}
.onlyphone2{
	display: none !important;
}




